*{
    margin: 0;
    padding: 0;
    font-family: century Gothic;
}

body {
  background-color:#a27fd6;
}

header{
  background-image: url(2.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

nav ul{
    float: right;
    list-style-type: none;
    margin-top: 40px;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    transition: 0.6s ease; 
    border: 1px solid transparent;
    font-size: 17px;
}

nav ul li a:hover{
    background-color: #fff;
    color: #000;
}

nav ul li.active a{
    background-color: #fff;
    color: #000;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%,-50%);
}

.title h1{
    color:rgb(150, 112, 212);
    font-size: 40px;
}

.image {
    display: block;
    width: 13%;
    height: auto;
    position: absolute;
    top: 30%;
    left: 10%;
    transform: translate(-50%,-50%);
  }

  .image1 {
    display: block;
    width: 12%;
    height: auto;
    position: absolute;
    top: 30%;
    left: 28%;
    transform: translate(-50%,-50%);
  }
  
  .image2 {
    display: block;
    width: 13%;
    height: auto;
    position: absolute;
    top: 30%;
    left: 44%;
    transform: translate(-50%,-50%);
  }

  .image3 {
    display: block;
    width: 12%;
    height: auto;
    position: absolute;
    top: 30%;
    left: 60%;
    transform: translate(-50%,-50%);
  }

  .image4 {
    display: block;
    width: 12%;
    height: auto;
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translate(-50%,-50%);
  }

  .image5 {
    display: block;
    width: 13%;
    height: auto;
    position: absolute;
    top: 60%;
    left: 28%;
    transform: translate(-50%,-50%);
  }

  .image6 {
    display: block;
    width: 13%;
    height: auto;
    position: absolute;
    top: 60%;
    left: 44%;
    transform: translate(-50%,-50%);
  }

  .image7 {
    display: block;
    width: 12%;
    height: auto;
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%,-50%);
  }

  .image8 {
    display: block;
    width: 12%;
    height: auto;
    position: absolute;
    top: 90%;
    left: 10%;
    transform: translate(-50%,-50%);
  }

  .image9 {
    display: block;
    width: 13%;
    height: auto;
    position: absolute;
    top: 90%;
    left: 28%;
    transform: translate(-50%,-50%);
  }

  .image10 {
    display: block;
    width: 12%;
    height: auto;
    position: absolute;
    top: 90%;
    left: 44%;
    transform: translate(-50%,-50%);
  }

  .image11 {
    display: block;
    width: 13%;
    height: auto;
    position: absolute;
    top: 90%;
    left: 60%;
    transform: translate(-50%,-50%);
  }

  p{
    position: absolute;
    top: 32%;
    left: 75%;
    transform: translate(-50%,-50%); 
    color:rgb(249, 249, 250);
    font-size: 20px;
}

.p2{
    position: absolute;
    top: 62%;
    left: 75%;
    transform: translate(-50%,-50%); 
    color:rgb(252, 252, 253);
    font-size: 20px;
}

.p3{
    position: absolute;
    top: 92%;
    left: 75%;
    transform: translate(-50%,-50%); 
    color:rgb(248, 247, 252);
    font-size: 20px;
}